{% extends 'base.html.twig' %}

{% block title %}Real Estate 92 -- Login{% endblock %}

{% block body %}

<div class="container mt5">
<form action="{{ path('security.login') }}" method="POST" name="loginForm">
    <div>
      <label for="username" class="form-label mt-4">Email adress</label>
      <input type="email" class="form-control" id="username" name="_username" placeholder="Enter email">
    </div>
    <div>
      <label for="password" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="password" placeholder="******" name="_password" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-secondary mt-5">Log In</button>
</form>
</div>
{% endblock %}
