{% extends ('base.html.twig') %}
{% block body %}

<div class="container w-50 mt-4">

<h2 class="mb-5">Modification de votre mot de passe</h2>
    {% for message in app.flashes('warning') %}    
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %} 
    
{{ form(form) }}

</div>

{% endblock %}